.idea
dist
npm-debug.log*
node_modules/.bin
node_modules/gh-pages
node_modules/rollup
node_modules/rollup-watch
# keep node_modules/jasmine-core because it's required by tests.html page. I know is bad :D